<!DOCTYPE html>
<html ng-app="presentieApp">
<head>
    <meta charset="UTF-8">
    <title>Week 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div>

    <h2>Presentatie</h2>
    <div ng-controller="PresentieLijstController as presentieLijst">
        <span>Aantal afwezig: {{ presentieLijst.aantalAfwezigen() }} van de {{ presentieLijst.personen.length }} totaal. </span>
        <ul>
            <li ng-repeat="persoon in presentieLijst.personen">
            <label class="checkbox">
                <input type="checkbox" ng-model="persoon.gezien">
                <span class="klaar-{{ persoon.gezien}}">{{ persoon.naam }}</span>
            </label>
            </li>
        </ul>

        <form ng-submit="presentieLijst.voegToe()">
            <input type="text" ng-model="presentieLijst.persoonNaam" placeholder="Naam...">
            <input type="submit"  value="Submit">
        </form>
    </div>

</div>

<script src="week3.js"></script>

</body>
</html>